//Primary Page Module

.main {	
	&__header {
		margin: 0;
		padding: 0 1em;
		color: #1c1c1c;
		&--large {
			text-align: center;
			color: #262525;
			font-size: 150%;
		}
	}
	&__summary {
		padding :0 1em;
	}
	
	&__footer {
		background-color: rgba(255, 255, 255, .2);
		padding: 1em;
	}
}

.bit__header h1{
	color: #404040;
}