//Nav Module

.main-nav {
	width: 100vw;
	height: 20%;
	background-color: #c9c9c9;
}

.main-nav-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 700px) {
	.main-nav-list {
		flex-direction: row;
	}
}

.main-nav--item {
	list-style: none;
	padding: 30px;
	&:hover {
		background-color: rgba(0, 0, 0, .2);
	}
}

.main-nav--item + .main-nav--item {
	margin: 0 10px;
}

.main-nav--link {
	text-decoration: none;
	color: #262525;
	font-size: 20px;
}

.main-nav--icon {
	width: 100px;
	height: 100px;
}

