.code {
	background-color: rgba(0, 0, 0, .2);
  	font-size: .8em;
	line-height: 1.6em;
	white-space: pre-wrap;
  	word-wrap: break-word;
	padding: 1em;
}

.note {
	font-style: italic;
	font-size: .9em;
	color: rgba(0, 0, 0, .5); 
}

.done {
	text-decoration: line-through;
}

.warn {
	background-color: rgba(255, 50, 100, .5);
	color: rgba(0, 0, 0, .8);
}

.hidden {
	display: none;
}


.emphasis {
	&__state {
		color: rgba(0, 100, 100, .7);
	}
	&__property {
		color: rgba(100, 0, 100, .7);
	}
}
.altEmphasis {

}