.code {
	background-color: rgba(0, 0, 0, .2);
  	font-size: .8em;
	line-height: 1.6em;
	white-space: pre-wrap;
  	word-wrap: break-word;
	padding: 1em;
}

.note {
	font-style: italic;
	font-size: .9em;
	color: rgba(0, 0, 0, .5); 
}