//Alert Page Module

.alert {
	background-color: red;
	color: #fff;
	padding: 1em;
	margin: 0;
	&__heading {
		background-color: rgba(255,255,255, 0.1);
		padding: 0;
		margin: 0;
		@media all and (min-width: 1024px) {
		}
	}
	&__message {
		font-size: 1.5em;
		padding: 0;
		margin: 0;
		> * {
			margin: 0;
		}
		@media all and (min-width: 1024px) {
		}
	}
}

