.bit {
	border-top: 1px solid rgba(0, 0, 0, .5);
	&__header {
		font-size: .75em;
		color: rgba(0, 0, 0, .5);
	}
	&__summary {
		color: rgba(0, 0, 0, .5);
		letter-spacing: .25em;
		font-size: .9em;
	}
}