//Nav Module

nav {
	background-color: pink;
	.nav__list {
		display: inline-block;
		list-style: none;
		li {
			float: left;
		}
	}
	.nav__item {
		color: rgba(0, 0, 0, .4);
		padding: 1em;
		&:hover {
			background-color: darken(rgba(0,0,0, .4), 10%);
		}
	}
}