@import 'nav/index';
@import 'main-header/index';
@import 'general-rules/index';
@import 'definitions/index';
@import 'roles/blah';
@import 'keyboard/blah';

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    font-family: Open Sans;
    margin: 0;
}

ul {
    padding: 0;
}

code {
    // font-family: inherit;
    color: #455a64;
    font-weight: bold;
    // background: #eee;
    // padding: 0 5px;
    font-size: 16px;
}